<footer>
        <div class="footer_info">

            <div class="footer_logo_div"><img class="footer_logo" src="../utils/Logo_text_white.png" alt="logo"></div>

            <div class="footer_separator"></div>

            <div class="footer_nav">
                <div class="footer_page_links"> <a class="footer_anchor" href="/teams"> TEAMS</a></div>
                <div class="footer_page_links"> <a class="footer_anchor" href="/rankings"> RANKINGS</a> </div>
                <div class="footer_page_links"> <a class="footer_anchor" href="/services"> SERVICES</a> </div>
                <div class="footer_page_links"> <a class="footer_anchor" href="/about"> ABOUT</a></div>
                <div class="footer_page_links"> <a class="footer_anchor" href="/news"> NEWS </a> </div>
                <div class="footer_page_links"> <a class="footer_anchor" href="/shop"> SHOP</a> </div>
            </div>

            <div class="footer_separator"></div>

            <div class="footer_contact_us">
                <div class="footer_contact_text">STAY CONNECTED WITH US</div>
                <div class="footer_icons_list">
                    <div><a href="https://discord.gg/u5M2bVtz5f"><img  class="footer_icons" src="../utils/discord_icon.png"></a></div>
                    <div><a href="https://www.instagram.com/x_houseofesport/"><img  class="footer_icons" src="../utils/ig_icon.png"></a></div>
                    <div><a href="https://twitter.com/X_HouseOfEsport"><img  class="footer_icons" src="../utils/x_icon.png"></a></div>
                </div>
            </div>
        </div>
        <div class="copyright_text">
            Copyright &copy 2024 The House of Esports. All rights reserved. <br> The names, logos, and trademarks of teams and players in the HOUSE OF ESPORTS belong to their respective team owners, while all other trademarks and trade names are owned by their respective owners.
        </div>
    </footer>