<nav >
        <ul class="navbar" style="list-style: none;">
          <li><img class="logo_nav" src="../utils/Logo_text_white.png" alt="logo"></li>

            <li> <a class="hide_on_mobile nav_btn" href="">teams</a></li>
            <li>     <a class="hide_on_mobile nav_btn" href="/rankings">rankings</a></li>
            <li>     <a class="hide_on_mobile nav_btn" href="/services">services</a></li>
            <li>    <a class="hide_on_mobile nav_btn" href="/about">about</a></li>
            <li> <a class="hide_on_mobile nav_btn" href="">news</a></li>
            <li> <a class="hide_on_mobile nav_btn" href="/shop">shop</a></li>

            <li><a class="burger_icon" ><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26" fill="white"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>           

         <div class="mobile_nav"> 
                
                <a class="close_icon" ><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26" fill="white"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a>

                <a class="" href="">teams</a>
                <a class="" href="/rankings">rankings</a>
                <a class="" href="/services">services</a>
                <a class="" href="/about">about</a>
                <a class="" href="">news</a>
                <a class="" href="/shop">shop</a>


                </div> 

    </nav>