<nav class="navbar">
            <img class="logo_nav" src="../utils/Logo_text_white.png" alt="logo">

            <a href="">teams</a>
            <a href="/rankings">rankings</a>
            <a href="/services">services</a>
            <a href="/about">about</a>
            <a href="">news</a>
            <a href="/shop">shop</a>
        
    </nav>