<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    {{> navbar}}

<div class="about_body">
    <div class="tagline">
        कर्मण्येवाधिकारस्ते मा फलेषु कदाचन | <br>
    मा कर्मफलहेतुर्भूर्मा ते सङ्गोऽस्त्वकर्मणि ||
    </div>

    <div class="tagline_meaning">
        Our purpose is to cultivate international level talent in ESports in the Indian subcontinent.
    </div>

    <div class="contact_us">
        <div class="follow_us">Follow Us</div>
        <div class="icons_list">
            <div>
                <a href="https://discord.gg/u5M2bVtz5f"><img  class="icons" src="../utils/discord_icon.png"></a>
            </div>
            <div class="icons">
                <a href="https://www.instagram.com/x_houseofesport/"><img  class="icons" src="../utils/ig_icon.png"></a>
            </div>
            <div class="icons" >
                <a href="https://twitter.com/X_HouseOfEsport"><img  class="icons" src="../utils/x_icon.png"></a>
            </div>
        </div>
    </div>
</div>

<script defer src="./scripts/common.js"></script>
</body>
</html>