<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ranking.css">
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    {{> navbar}}

<div class="nav_separator"></div>

<div class="about_body">
    <div class="tagline">
        कर्मण्येवाधिकारस्ते मा फलेषु कदाचन |
    मा कर्मफलहेतुर्भूर्मा ते सङ्गोऽस्त्वकर्मणि ||
    </div>

    <div class="tagline_meaning">
        Our purpose is to cultivate international level talent in ESports in the Indian subcontinent.
    </div>

    <div>
        Follow us 
    </div>
</div>

<script defer src="./scripts/about.js"></script>
</body>
</html>