<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
Admin Home

    <a href="/adminhome/logout"><button class="empty">Logout</button> </a>

                 {{!-- <div class="enter_ranking">
                    <h3>enter team rankings</h3>
                        <form action="/admin/ranking" method="POST">
                            <input type="text" name="teamname" class="teamname" placeholder="teamname">
                            <input type="text" name="rank" class="rank" placeholder="rank">
                            <button class="submit">submit</button>
                        </form>
                 </div> --}}

    <div class="add_scrim_div" style="border: 1px solid black" >
        <h1>Add Scrim </h1>

        <form action="/adminhome/addscrim" method="POST">
            <input type="text" name="scrimshortform" label="Scrim Short-Form in CAPITALS" placeholder="SCRIM short form"> 

            <input type="text" name="scrimname" label="Scrim Name" placeholder="SCRIM full name">
                  
            <button class="submit">Enter</button>
        </form>
    </div>

    <div class="modify_scrim_div" style="border: 1px solid black" >
        <h1>Modify Scrim Data </h1>

            <div class="add_team_div" style="border: 1px solid black">
                <h3>add new team to SCRIM</h3>
                <form action="/adminhome/addteam" method="POST">
                    
                    
                    <select name="scrimname" class="scrims1" placeholder="Select Scrim">
                        {{!-- <option value="Scrim 1">Scrim 1</option>
                        <option value="Scrim 2">Scrim 2</option>
                        <option value="Scrim 3">Scrim 3</option> --}}
                    </select>
                    <input type="text" name="teamname" placeholder="Team Name">  
                    <button class="submit">add new Team </button>
                </form>
            </div>
            
            <div class="modify_team_div" style="border: 1px solid black">
                <h3>modify existing team data</h3>

                {{!-- <form action="/adminhome/addteam" method="POST"> --}}
                <div class="select_scrimname" >
                    <form >
                        <select name="scrimname" class="scrims2"  placeholder="Select Scrim">
                            {{!-- <option value="Scrim 1">Scrim 1</option>
                            <option value="Scrim 2">Scrim 2</option>
                            <option value="Scrim 3">Scrim 3</option> --}}
                        </select>
                        <button class="select_scrim_btn">Select Scrim</button>
                    </form> 
                </div>    

                <div class="select_teamname" style="display: none;">
                    <div class="selected_scrim_name">
                    </div>

                    <h4>select team name</h4>
                        <form>   
                        <select name="teamname" class="teams"  placeholder="Select team">
                            {{!-- <option value="Scrim 1">Scrim 1</option>
                            <option value="Scrim 2">Scrim 2</option>
                            <option value="Scrim 3">Scrim 3</option> --}}
                        </select>

                        <button class="modify_team_data_btn">modify team data</button>
                    </form>
                    
                    
                </div>
                    
            </div> 

            <div class="selected_team" style="display: none;">
                <h1>add team entries</h1>
                <div class="current_team_name"></div>
                
                <button class="add_new_member_btn">add new member
                </button>

            <div style="display: none;" class="add_player_div">
                <form action="">
                    <input type="text" name="membername" placeholder="Add Member Name" class="member_name_input">
                    <button class="submit_member_btn">Add</button>
                </form>

            </div>    
                <form action="">
                    <input type="number" placeholder="Match Wins" name="match_wins">
                    <input type="number" placeholder="Position Points" name="position_points">
                    <input type="number" placeholder="Kills" name="kills">
                    <input type="number" placeholder="Damage" name="damage">
                    <input type="number" placeholder="Total Points" name="total_points">
                    <button class="submit">Submit Team Data</button>
                </form>
            </div> 
    </div>
    
<script defer src="./scripts/adminhome.js"></script>

</body>
</html>