<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

                <div class="login_body">
                        <form action="/landingpage/login" method="POST">
                            <input type="text" name="username" class="username" placeholder="username">
                            <input type="password" name="password" class="password" placeholder="password">
                            <button class="login_now">login</button>
                        </form>
                </div>

                <div class="signup_body">

                        <form action="/admin/signup" method="POST">
                            <input type="text" name="username" class="username" placeholder="username">
                            <input type="password" name="password" class="password" placeholder="password">
                            <button class="signup_now">sign up</button>
                        </form>



                 </div>

</body>
</html>