<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../css/admin.css">
</head>
<body>

                <div class="login_body">
                    <h3>Login to Admin</h3>
                        <form action="/admin/login" method="POST">
                            <input type="text" name="username" placeholder="User Name" >
                            <input type="password" name="password" placeholder="Password" >
                            <button class="login_now">Login</button>
                        </form>
                </div>

                {{!-- <div class="signup_body">
                    <h3>signup</h3>
                        <form action="/admin/signup" method="POST">
                            <input type="text" name="username" class="username" placeholder="username">
                            <input type="password" name="password" class="password" placeholder="password">
                            <button class="signup_now">sign up</button>
                        </form>
                 </div> --}}

                 {{!-- <div class="enter_ranking">
                    <h3>enter team rankings</h3>
                        <form action="/admin/ranking" method="POST">
                            <input type="text" name="teamname" class="teamname" placeholder="teamname">
                            <input type="text" name="rank" class="rank" placeholder="rank">
                            <button class="submit">submit</button>
                        </form>
                 </div> --}}

</body>
</html>