<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
Admin Home

    <a href="/adminhome/logout"><button class="empty">Logout</button> </a>

                 {{!-- <div class="enter_ranking">
                    <h3>enter team rankings</h3>
                        <form action="/admin/ranking" method="POST">
                            <input type="text" name="teamname" class="teamname" placeholder="teamname">
                            <input type="text" name="rank" class="rank" placeholder="rank">
                            <button class="submit">submit</button>
                        </form>
                 </div> --}}
    <div>
         <button class="">Manage SCRIM</button>
         <button class="manage_team_btn">Manage Team</button>
    </div>

    <button class="display_add_scrim_btn">ADD new Scrim</button>
    <button class="display_modify_scrim_btn">Modify Scrim Data</button>

        <div class="add_scrim_div" style="border: 1px solid black; display:none;" >
            <h1>Add NEW Scrim </h1>

            <form action="/adminhome/addscrim" method="POST">
                <input type="text" name="scrimshortform" label="Scrim Short-Form in CAPITALS" placeholder="SCRIM short form"> 

                <input type="text" name="scrimname" label="Scrim Name" placeholder="SCRIM full name">

                <button class="submit">Enter</button>
            </form>
        </div>

    <div class="modify_scrim_div" style="border: 1px solid black; display:none" >
        <h1>Modify Scrim Data </h1>

            <div class="add_team_div" style="border: 1px solid black">
                <h3>add new team to SCRIM</h3>
                <form action=''>
                                        
                    <select name="scrimname" class="scrims1" placeholder="Select Scrim">
                        {{!-- <option value="Scrim 1">Scrim 1</option>
                        <option value="Scrim 2">Scrim 2</option>
                        <option value="Scrim 3">Scrim 3</option> --}}
                    </select>
                    <input type="text" name="teamname" placeholder="Team Name" class="teamname_input">  
                    <button class="submit_team_btn">add new Team </button>
                </form>
            </div>
            
            <div class="modify_team_div" style="border: 1px solid black">
                <h3>modify existing team data</h3>

                {{!-- <form action="/adminhome/addteam" method="POST"> --}}
                <div class="select_scrimname" >
                    <form >
                        <select name="scrimname" class="scrims2"  placeholder="Select Scrim">
                            {{!-- <option value="Scrim 1">Scrim 1</option>
                            <option value="Scrim 2">Scrim 2</option>
                            <option value="Scrim 3">Scrim 3</option> --}}
                        </select>
                        <button class="select_scrim_btn">Select Scrim</button>
                    </form> 
                </div>    

                <div class="select_teamname" style="display: none;">
                    <div class="selected_scrim_name">
                    </div>

                    <h4>select team name</h4>
                        <form>   
                        <select name="teamname" class="teams"  placeholder="Select team">
                            {{!-- <option value="Scrim 1">Scrim 1</option>
                            <option value="Scrim 2">Scrim 2</option>
                            <option value="Scrim 3">Scrim 3</option> --}}
                        </select>

                        <button class="modify_team_data_btn">modify team data</button>
                    </form>
                    
                    
                </div>
                    
            </div> 

            <div class="selected_team" style="display: none;">
                <h1>add team entries</h1>
                <div class="current_team_name"> </div>
                
                <div class="team_members">
                    <div class="">
                        <form>   
                            <select name="member_name" class="members"  placeholder="Select Member">
                                
                            </select>
                            <button class="modify_member_data_btn">modify player data</button>
                        </form>
                    </div>

                    <div class="add_new_member_div">
                        <button class="add_new_member_btn">add new member
                        </button>
                        <div style="display: none;" class="add_player_div">
                            <form action="">
                                <input type="text" name="member_name" placeholder="Add Member Name" class="member_name_input">
                                <button class="submit_member_btn">Add</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="selected_member" style="display: none;">
                    <form action="">
                        <input class="match_wins" type="number" placeholder="Match Wins" name="match_wins">
                        <input class="position_points" type="number" placeholder="Position Points" name="position_points">
                        <input class="kills" type="number" placeholder="Kills" name="kills">
                        <input class="damage" type="number" placeholder="Damage" name="damage">
                        <input class="total_points" type="number" placeholder="Total Points" name="total_points">
                        <button class="submit_player_data_btn">Submit Team Data</button>
                    </form>
                </div>
            </div> 
    </div>
    
<script defer src="./scripts/adminhome.js"></script>

</body>
</html>