<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="../css/ranking.css">
</head>
<body>
    {{> navbar}}
    {{!-- <div class="carousel">
        <img src="../utils/call-of-duty-background.jpg" alt="">      
    </div> --}}
    
    <div class="ranking_body">

        <div class="scrims_div">
            <h1>House of ESports Points Standings </h1>
            <div class="scrims">
                {{!-- <div>Scrim 1</div>
                <div>Scrim 2</div>
                <div>Scrim 3</div>
                <div>Scrim 4</div> --}}
            </div>
        </div>
        <div class="leaderboard_div">
            <h2>Team Rankings</h2>
            <div class="leaderboard">
                <div class="table_head">
                        <div class="rank">Rank</div>
                        <div class="teamname">Team</div>
                        <div class="matchwins">Match Wins</div>
                        <div class="positionpts">Position Pts</div>
                        <div class="kills">Kills</div>
                        <div class="damage" style="display: none;">Damage</div>
                        <div class="totalpts">Total Pts</div>
                </div>
                <div class="table_data">
                       
                </div>
            </div>
        </div>
        
    </div>
<script defer src="./scripts/ranking.js"></script>

</body>
</html>