<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ranking.css">
</head>
<body>
    <div class="navbar">
            <img class="logo_nav" src="../utils/IMG_0030.PNG" alt="logo">
            
            <a href="">teams</a>
            <a href="">rankings</a>
            <a href="/services">services</a>
            <a href="/about">about</a>
            <a href="">news</a>
            <a href="/shop">shop</a>
    </div>
    <div class="carousel">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTTQ-J13Sb2WefpQWQg1EY1XL4Z_VklTTsDA0F1ZFFsA&s" alt="">
                
    </div>
    <div class="ranking_body">
        <div class="leaderboard">
            ranking
        </div>
        <div class="anotherbox">
            hellooo
        </div>
    </div>
</body>
</html>