<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ranking.css">
</head>
<body>
    <div class="navbar">
            <img class="logo_nav" src="../utils/IMG_0030.PNG" alt="logo">
            
            <a href="">teams</a>
            <a href="">rankings</a>
            <a href="/services">services</a>
            <a href="/about">about</a>
            <a href="">news</a>
            <a href="/shop">shop</a>
    </div>
    {{!-- <div class="carousel">
        <img src="../utils/call-of-duty-background.jpg" alt="">
                
    </div> --}}
    <div class="ranking_body">

        <div class="scrims_div">
            <h1>House of ESports Points Standings </h1>
            <div class="scrims">
                <div>Scrim 1</div>
                <div>Scrim 2</div>
                <div>Scrim 3</div>
                <div>Scrim 4</div>
            </div>
        </div>
        <div class="leaderboard_div">
            <h2>Team Rankings</h2>
            <div class="leaderboard">
                <div class="table_head">
                        <div class="rank">Rank</div>
                        <div class="teamname">Team</div>
                        <div class="matchwins">Match Wins</div>
                        <div class="positionpts">Position Pts</div>
                        <div class="kills">Kills</div>
                        <div class="damage">Damage</div>
                        <div class="totalpts">Total Pts</div>
                </div>
                <div class="table_data">
                        <div class="rank">1</div>
                        <div class="teamname">Team 1</div>
                        <div class="matchwins">13</div>
                        <div class="positionpts">26</div>
                        <div class="kills">39</div>
                        <div class="damage">52</div>
                        <div class="totalpts">65</div>

                        <div class="rank">2</div>
                        <div class="teamname">Team 2</div>
                        <div class="matchwins">12</div>
                        <div class="positionpts">24</div>
                        <div class="kills">36</div>
                        <div class="damage">48</div>
                        <div class="totalpts">60</div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>