<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    {{> navbar}}

    {{!-- <div class="nav_separator"></div> --}}

    <h1>coming soon</h1>
    

    <script defer src="./scripts/common.js"></script>
</body>
</html>