<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="icon" type="image/x-icon" href="../utils/favicon.ico">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    {{> navbar}}

    <div class="coming_soon_text"><h1>coming soon</h1></div>
    
{{> footer}}
    <script defer src="./scripts/common.js"></script>
</body>
</html>