.about_body{
    display: flex;
    height: 70vh;
    flex-direction: column;
    gap: 80px;
    margin: 50px 20px;
    justify-content: center;
    align-items: center;
}

.nav_separator{
    margin: 0 0 0;
    background-color: white;
    height: 3px;
    padding: 0;
}

.tagline{
    text-align: center;
    font-size: xx-large;
    width: 50%;
}

.tagline_meaning{
    text-align: center;
    font-size: large;
    width: 90%;
}

@media(max-width:450px){
    .tagline{
        font-size: x-large;
        width: 75%;
    }
    .tagline_meaning{
        font-size: small;
        width: 99%;
    }
    .about_body{
        gap: 50px;
        margin: 25px 20px;
    }
}