
.about_body{
    display: flex;
    /* bottom: 10;
    position: relative; */
    min-height: 75svh;
    /* min-height: 75svh; */
    flex-direction: column;
    gap: 70px;
    margin: 50px 20px;
    justify-content: center;
    align-items: center;
}

.tagline{
    text-align: center;
    font-size: 40px;
    /* width: 50%; */
}

.tagline_meaning{
    text-align: center;
    font-size: 25px;
    width: 80%;
}

.contact_us{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.follow_us{font-size: 25px;}

.icons_list{
    display: flex;
    gap: 20px;
}
.icons{
    height: 40px;
    /* width: 20px; */
}
.icons:hover{opacity: 65%;}


@media(max-width:850px){
    .about_body{gap: 60px;}
}

@media(max-width:770px){
    .tagline_meaning{
        width: 95%;
        font-size: 20px;
    }
    .tagline{
        font-size: 35px;
    }
}

@media(orientation=portrait){
    .tagline{
        font-size: 22px;
        /* width: 75%; */
    }
    .tagline_meaning{
        font-size: 18px;
        width: 100%;
    }
    .about_body{
        gap: 70px;
        margin: 25px 20px;
    }
    .follow_us{
        font-size: 18px;
    }
    .icons{
        height: 30px;
    }
}
