.about_body{
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    gap: 50px;
    margin: 50px 20px;
    justify-content: center;
    align-items: center;
}

.nav_separator{
    margin: 0 0 0;
    background-color: white;
    height: 3px;
    padding: 0;
}

.tagline{
    text-align: center;
    font-size: xx-large;
    width: 70%;
}

.tagline_meaning{
    text-align: center;
    font-size: large;
    width: 90%;
}

@media(max-width:450px){
    .tagline{
        font-size: x-large;
    }
    .tagline_meaning{
        font-size: small;
    }
}