@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #E7E8D1;
    /* justify-content: center; */
    align-items: center;
    /* min-height: 100vh; */
    padding-bottom: 50vh;
    /* margin-left: 30px; */
    font-family: 'Poppins', sans-serif;
}

div{padding: 5px 5px; margin: 10px 5px; border-radius: 4px;} 

input{
    padding: 5px 10px;
    height: 20px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
}
select{
    padding: 5px 10px;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
}

button{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  /* color: #1b1d2c; */
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 5px 10px;
  margin: 5px 5px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  /* font-size: 18px; */
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-1px);
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(1px);
}
/* button{
    padding: 5px 5px;
    height: 30px;
    /* width: 60px; */
    /*border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: inherit;
} */

.manage_scrim_div{
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
}
.team_members{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.manage_team_div{
    flex-direction: column;
    align-items: center;
}