body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: lightblue;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
}
form{

}

input{
    padding: 5px 10px;
    height: 20px;
    width: 150px;
    border: none;
    border-radius: 10px;
}

button{
    padding: 5px 5px;
    height: 30px;
    /* width: 60px; */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(201, 52, 77);
    color: white;
}