  @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:ital@1&display=swap');

body{
    font-family: 'Cinzel', serif;
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* height:100vh;  */
    color: aliceblue;
    text-align: center;
    width: 50%;
    height: 100%;
    position: relative;
    top:0;
    bottom:0;
    right:0;
    left:0;
    transition: width 500ms ease-in-out;    
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white; 
    color: black;
    text-align: center;
    width: 50%;
    height: 100%;
    transition: width 500ms ease-in-out;    
}


/* .leftExpand{
    width: 100%;
}

.rightCollapse{
    width:0%;
}

.rightExpand{
    width: 100%;
    /* display: block; 
}

.leftCollapse{
    width:0%;
    } */



/* .right:hover{
    width: 60%;
} */

.left_btn, .right_btn{
    padding: 15px 15px;
    border-radius: 7px;
    /* margin: 100px; */
    font-family: inherit;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}

.left_btn:hover{
    background-color: darkgrey;
}

.right_btn{
    background-color: black;
    color: white;
}
.right_btn:hover{
        background-color: rgb(22, 23, 32);
}

.logo_div{
    display: flex;
    position: absolute;
    justify-content: center;
    z-index: 20;
    left: 50%;
    right: 50%;
}
.logo{
    width: 160px;
    height: 160px;
    /* transition: opacity 0.25s, visibility 0.25s; */
    transition-property: opacity, visibility;
    transition-duration: 0.25s;
}

.logo.rotate{
    animation: rotation 1200ms infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

/* .slide{
    transform: translateY(50%);
    transition: transform 200ms ease-in-out;
} */

.hidden{
    opacity: 0;
    visibility: hidden;
}


@media(max-width:550px){
    .container{
        flex-direction: column;
    }
    .left, .right{
        width: 100%;
        height: 50%;
    }
    .logo_div{
        bottom:50%;
        top:50%;
        align-items: center;
    }
    body{
        font-size: small;
    }
}