  @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:ital@1&display=swap');

body{
    font-family: 'Cinzel', serif;
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
}

.container{
    display: flex;
    width: 100vw;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:100vh; 
    color: aliceblue;
    text-align: center;
    width: 50%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    transition:  250ms;    
}

/* .left:hover{
    right:100px;
    left:100px;     
    width: 60%;} */

.leftExpand{
    width: 100%;
}

.rightCollapse{width:0%;}

.rightExpand{
    width: 100%;
}

.leftCollapse{width:0%;}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white; 
    color: black;
    text-align: center;
    width: 50%;
    transition:  250ms;    
}

/* .right:hover{
    width: 60%;
} */

button{
    padding: 15px 15px;
    border-radius: 7px;
    /* margin: 100px; */
    font-family: inherit;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background-color: darkgrey;
}

.right> button{
    background-color: black;
    color: white;
}
.right> button:hover{
        background-color: rgb(22, 23, 32);
}

.logo_div{
    display: flex;
    position: relative;
    justify-content: center;
    /* z-index: 1; */
}
.logo{
    position: absolute;
    /* z-index: 1; */
    width: 160px;
    height: 160px;
}